HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified


HOST=0.0.0.0
PORT=1337
APP_KEYS=/9aWhsov7zp+xk3j8Vl6pw==,/ZXVJpwMbECW8lNmUO/orA==,fAYuIiTO2G+KaoY/P3g7Zw==,+6aeKWI0fWjIIA5FzhrhHA==
API_TOKEN_SALT=RuZImtc/QYUL/IEbmoDzLQ==
ADMIN_JWT_SECRET=kKEt/0VyAqf4mtz4wtrECA==
TRANSFER_TOKEN_SALT=46vxWTeFAl8M9OQzIXvktQ==
# Database
DATABASE_CLIENT=sqlite
DATABASE_FILENAME=.tmp/data.db
JWT_SECRET=bwuchiAwDn+T8Pn+Rgl8Nw==
